<div class="containerFluid">
  <div id="homepage">

    {{> bg-block}}
    <div class="row">
      <div class="col-md-7 text-light">

      </div>
      <div class="col-md-5">



        <div>
          <div class="card-overlay">
            <button type="button" class="btn btn-light btn-lg mr-5 mb-5" id="loginbutton" onclick="window.location.href = 'login';">Log
              In</button>

            <button type="button" class="btn btn-light btn-lg mb-5" id="signupbutton" onclick="window.location.href = 'signup';">Sign
              Up</button>
          </div>

        </div>
      </div>
    </div>
  </div>