{{!-- <!-- <div id="profileHeader" class="card"> -->
<div id="sup">
    <nav>
        <div id="navsign" class="nav-wrapper">
            <a href="/" class="brand-logo">Beer App</a>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/auth/login">Login</a>
      <a class="nav-item nav-link" href="/auth/signup">Signup</a>
       <a class="nav-item nav-link" href="/auth/logout">Logout</a>
     
    </div>
  </div>
</nav>
    </nav> --}}
    {{> nav}}
{{#if errors}}
    {{#each errors}}
    <div class = "alert alert-danger">{{msg}}</div>
  {{/each}}
  {{/if}}
    <form name="myForm" action="/auth/signup" method="post">
        <!-- <div class="row"> -->
        <div class="container" id="mainsignup">
            <h3>Sign Up</h3>
            <div class="row">
                <div class="input-field col s6">
                    <label for="first_name">First Name:</label>
                    <input id="firstname" type="text" class="validate" name="firstname" required>
                    
                </div>
                <div class="input-field col s6">
                    <label for="last_name"> Last Name:</label>
                    <input id="lastname" type="text" class="validate" name="lastname" required>
                   
                </div>
            </div>
            <div class="input-field col s6">
                    <label for="age">Age</label>
                    <input type="text" class="form-control" class="validate" name="age" id="age" required>
                </div>
                <div class="form-group">
                    <label class="radio-inline mr-3"><input type="radio" value="Male" name="gender" checked>Male</label>
                    <label class="radio-inline"><input type="radio" value="Female" name="gender">Female</label>
                </div>
            <div class="row">
                <div class="input-field col s6">
                     <label for="email">  Email:</label>
                    <input id="email" type="email" class="validate" name="email" required>
                   
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label for="password"> Password:</label>
                    <input id="password" type="password" class="validate" name="password" required>
                   
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                     <label for="password2">  Password:</label>
                    <input id="password2" type="password" class="validate" name="password2" required>
                   
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                </div>
                <input class="btn" type="submit" value="Submit">
            </div>
        </div>
    </form>