{{!-- Log out button in the header
<div id="user-header-container">
    <div id="logout-container">
        <a class="logoutbutton text-white" href="index.handlebars">Log Out</a>
    </div>
    {{!-- Name of user shows up --}}
    <div id='personal-info-container'>
        <div id="info-tightener">
            <div id="personal-name">{{name}}</div id="personal-name">
                <div id="details-container">
                    <span>{{age}}</span>
                    <span></span>
                    <span>{{location}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="commentarea">
{{!-- 
    Text area to leave comments --}}
    <form class="create-comment-textarea">
        <div class="form-group">
            <label for="post">Post:</label>
            <textarea class="form-control" rows="5" id="post"></textarea>
        {{!-- </div> --}}
    {{!-- </form> --}}
    {{!-- Can choose the beer they are drinking to post that from the API --}}
    {{!-- <div class="favbeergroup">
        <form class="create-fav-beer"> --}}
            {{!-- <button type="button" class="btn btn-outline-dark btn-lg" id-"favbeerbutton">Add Favorite Beer</button> --}}
            {{!-- <div class="form-group">
                <label for="favbeer"></label> --}}
                <input type="favbeer" class="form-control" id="favbeerinput">
        <button type="button" class="btn btn-outline-dark btn-lg mt-3" id="commentbutton">Post</button>
    </form>
        </div>
    </div>
    {{!-- Comments get posted here --}}
    <div class="postContainer">
    <h2>Comments</h2>
</div>

</div> --}}
